body {
	color: $primary-text-color;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 50px;
}
.navbar {
    border-bottom: 1px solid $border-color;
    margin-bottom: 0px;

	&.navbar-custom {
	    background: #fff;
	}
}

a {
	&:link, &:visited {
		color: $primary-text-color;
	}
	&:hover {
		color: $primary-color;
	}
	&:active {
		color: $secondary-color;
	}
}
h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 46px;
	font-weight: 200;
	line-height: 56px;
	&:after {
		height: 1px;
		background-color: #bbb;
		margin: 30px 0;
		display: block;
		width: 150px;
		content: " "
	}
}
h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 300;
	line-height: 39px;
	margin-bottom: 30px;
}
h3 {
	font-size: 38px;
	font-weight: 100;
}
h4 {
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 30px;
}

// Layout
.section {
    border-top: 1px solid $border-color;
    width: 100%;
	overflow: hidden;
}
.section-top {
	@extend .section;
	border-top: 0px;
}
.section-gray {
	@extend .section;
	background: #f3f5f7;
}
.wrapper {
	padding: 100px 20px;
	@media (min-width: 1200px) {
		&.right {
			padding-left: 80px;
			border-left: 1px solid $border-color;
		} 
	}
}
.row.inline-set {
	margin-top: 80px;
}
.cover1 {
	background: #000;
    img {
		@include transition-all(0.2s);
		height: 100%;
		&:hover {
			opacity: 0.5;
		}
	}
}
@media (min-width: 1200px) {
	.web-no-padding {
		padding: 0px;
	}
}

// Text
.primary-color {
	color: $primary-color;
}
.secondary-color {
	color: $secondary-color;
}

.skill-icon {
	// box-shadow: 10px 10px 5px #888888;
	width: 150px;
}






.home-title {
	text-align: center;
	overflow: hidden;
	h3 {
		display: inline-block;
		padding: 0px 40px;
		position: relative;
	}
	h3:before {
		right: 100%;

	}
	h3:after {
		left: 100%;
	}
	h3:before, h3:after {
		position: absolute;
	    top: 50%;
	    width: 700px;
	    height: 1px;
	    content: "";
	    background-color: #ccc;
	}
}
