$navbar-height: 80px;
body {
	color: $primary-text-color;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: $navbar-height;
	@include transition-all(0.8s);
}
.navbar.navbar-fixed-top.navbar-custom {
    border-bottom: 1px solid $border-color;
    margin-bottom: 0px;
    background: #fff;
    min-height: $navbar-height;
    .container {
    	margin-top: (($navbar-height - 50px) / 2px) * 1px;
		a {
			font-size: 18px;
			font-weight: 300;
			background: none;
			&.navbar-brand {
				font-size: 22px;
				font-weight: 400;
			}
    	}
    }
}
a {
	background: none;
	@include transition-all(0.2s);
	&:link, &:visited {
		color: $primary-text-color;
	}
	&:hover {
		color: $primary-color;
	}
	&:active {
		color: $secondary-color;
	}
}
h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 46px;
	font-weight: 200;
	line-height: 56px;
	&:after {
		height: 1px;
		background-color: #bbb;
		margin: 30px 0;
		display: block;
		width: 150px;
		content: " "
	}
}
h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 300;
	line-height: 39px;
	margin-bottom: 30px;
}
h3 {
	font-size: 38px;
	font-weight: 300;
	margin-bottom: 30px;
}
h4 {
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 30px;
}
p {
	font-size: 20px;
	font-weight: 300;
}

// Layout
.section {
    border-top: 1px solid $border-color;
    width: 100%;
	overflow: hidden;
}
.section-top {
	@extend .section;
	border-top: 0px;
}
.section-gray {
	@extend .section;
	background: #f3f5f7;
}
.wrapper {
	padding-top: 100px;
	padding-bottom: 100px;
	@media (min-width: 1200px) {
		&.right {
			padding-left: 80px;
			border-left: 1px solid $border-color;
		} 
	}
}
.cover1 {
	background: #000;
    img {
		@include transition-all(0.2s);
		width: 100%;
		&:hover {
			opacity: 0.5;
		}
	}
}
.footer {
	background: #2e3234;
	overflow: hidden;
	.wrapper {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	h2 {
		color: #fff;
	}
}

// Text
.primary-color {
	color: $primary-color;
}
.secondary-color {
	color: $secondary-color;
}

.skill-wrapper {
	margin-top: 140px;
}
.skill-icon {
	width: 150px;
	margin-top: 40px;
}

.home-title {
	text-align: center;
	overflow: hidden;
	h3 {
		display: inline-block;
		padding: 0px 40px;
		position: relative;
	}
	h3:before {
		right: 100%;

	}
	h3:after {
		left: 100%;
	}
	h3:before, h3:after {
		position: absolute;
	    top: 50%;
	    width: 700px;
	    height: 1px;
	    content: "";
	    background-color: #ccc;
	}
}

.responsive-icon {
	margin-top: 50px;
	margin-bottom: 20px;
	max-width: 700px;
}